[main]
uri = "http://ollama.example.org:11434"

[quick-chat]
modle = "qwen3-coder:30b-a3b-q4_K_M"

[slow-chat]
modle = "qwen3-coder:30b-a3b-q8_0"

[patch-review]
modle = "qwen3.5:35b"

[code]
modle = "qwen3-coder:30b-a3b-q8_0"

[projects.netlink_route]
# Should match the output of `git remote get-url origin`
git = "https://github.com/cathay4t/netlink-packet-route"
# This is default for rust project
compile = "cargo build"
lint = "cargo fmt --all && cargo clippy --all-targets"
# This is default for rust project
unit_test = "cargo test"
integ_test = "sudo tests/run-tests.sh"
